*.swp
*~
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
src/.deps/
src/*.o

src/lomofile
